{% extends 'base.html.twig' %}

{% block title %}{{ 'forgot_password_request.page.title' | trans({}, 'security')}} - {{ parent() }}{% endblock %}

{% block header %}{% endblock %}

{% block bodyClassName %}mb-0{% endblock %}

{% block body %}
<picture class="absolute left-0 w-full -top-16 sm:-top-40 login-image">
    <source media="(min-width:640px)" src="{{ asset('assets/images/login/login@2x.jpg') }} 1x, {{ asset('assets/images/login/login@2x.jpg') }} 2x">
    <source srcset="{{ asset('assets/images/login/login.jpg') }} 1x, {{ asset('assets/images/login/login@2x.jpg') }} 2x">
    <img src="{{ asset('assets/images/login/login.jpg') }}" class="block w-full">
</picture>
<video autoplay loop muted class="absolute left-0 block w-full h-30 -top-8 mix-blend-plus-lighter login-video">
    <source src="{{ asset('assets/videos/particles.mp4') }}" type="video/mp4" />
</video>


<div class="container relative mt-20 mb-6">
    <button onclick="history.back()" class="w-6 h-6 -ml-2 flex-centering">
        {% include 'icons/back.html.twig' %}
    </button>
    <h1 class="mt-2 h1">{{ 'forgot_password_request.title' | trans({}, 'security') | raw }}</h1>

    <div class="w-full mt-6 zone">
        <div class="relative w-full p-4">
            <p class="mb-4">{{ 'forgot_password_request.description' | trans({}, 'security') }}</p>

            {{ form_start(form) }}
                {{ form_row(form.email) }}
                {{ form_row(form._token) }}
                {% include 'components/Button/index.html.twig' with {
                    label: 'forgot_password_request.form.submit.label' | trans({}, 'security'),
                    type: 'submit',
                    className: 'btn-primary'
                } %}
            {{ form_end(form, {'render_rest': false}) }}
        </div>

    </div>
</div>

{% endblock %}

{% block menu %}{% endblock %}
